

html, body {
    height:100%;
    width:100%;
}
body{
    background:linear-gradient(135deg, #ffffff 0, #fffffd 25%, #ececf1 50%, #c8cbe5 75%, #a1adda 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    margin:0;
    border:0;
    padding:0;
}